In [28]:
from ucimlrepo import fetch_ucirepo 
import pandas as pd

In [29]:
# fetch dataset 
adult = fetch_ucirepo(id=2) 
  
# data (as pandas dataframes) 
X = adult.data.features 
y = adult.data.targets

In [30]:
# metadata 
print(adult.metadata)

{'uci_id': 2, 'name': 'Adult', 'repository_url': 'https://archive.ics.uci.edu/dataset/2/adult', 'data_url': 'https://archive.ics.uci.edu/static/public/2/data.csv', 'abstract': 'Predict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset. ', 'area': 'Social Science', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 48842, 'num_features': 14, 'feature_types': ['Categorical', 'Integer'], 'demographics': ['Age', 'Income', 'Education Level', 'Other', 'Race', 'Sex'], 'target_col': ['income'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1996, 'last_updated': 'Mon Aug 07 2023', 'dataset_doi': '10.24432/C5XW20', 'creators': ['Barry Becker', 'Ronny Kohavi'], 'intro_paper': None, 'additional_info': {'summary': 'Extraction was done by Barry Becker from the 1994 Census database.  A set of reasonably clean records was extracted using the following conditions: ((AAGE>16) && (AGI>100) && (AFNLWGT>1)&& (HRSWK>0))\r\n\r\nPrediction task is to determine whether a person makes over 50K a year.\r\n', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Listing of attributes:\r\n\r\n>50K, <=50K.\r\n\r\nage: continuous.\r\nworkclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.\r\nfnlwgt: continuous.\r\neducation: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.\r\neducation-num: continuous.\r\nmarital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.\r\noccupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.\r\nrelationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.\r\nrace: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.\r\nsex: Female, Male.\r\ncapital-gain: continuous.\r\ncapital-loss: continuous.\r\nhours-per-week: continuous.\r\nnative-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.', 'citation': None}}

In [31]:
# variable information 
print(adult.variables)

              name     role         type      demographic  \
0              age  Feature      Integer              Age
1        workclass  Feature  Categorical           Income
2           fnlwgt  Feature      Integer             None
3        education  Feature  Categorical  Education Level
4    education-num  Feature      Integer  Education Level
5   marital-status  Feature  Categorical            Other
6       occupation  Feature  Categorical            Other
7     relationship  Feature  Categorical            Other
8             race  Feature  Categorical             Race
9              sex  Feature       Binary              Sex
10    capital-gain  Feature      Integer             None
11    capital-loss  Feature      Integer             None
12  hours-per-week  Feature      Integer             None
13  native-country  Feature  Categorical            Other
14          income   Target       Binary           Income

                                          description units missing_values
0                                                 N/A  None             no
1   Private, Self-emp-not-inc, Self-emp-inc, Feder...  None            yes
2                                                None  None             no
3    Bachelors, Some-college, 11th, HS-grad, Prof-...  None             no
4                                                None  None             no
5   Married-civ-spouse, Divorced, Never-married, S...  None             no
6   Tech-support, Craft-repair, Other-service, Sal...  None            yes
7   Wife, Own-child, Husband, Not-in-family, Other...  None             no
8   White, Asian-Pac-Islander, Amer-Indian-Eskimo,...  None             no
9                                       Female, Male.  None             no
10                                               None  None             no
11                                               None  None             no
12                                               None  None             no
13  United-States, Cambodia, England, Puerto-Rico,...  None            yes
14                                       >50K, <=50K.  None             no

In [33]:
df = pd.concat([X, y], axis=1)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [34]:
df.to_csv("Data\dataset.csv")

In [35]:
df = pd.read_csv("Data\dataset.csv")

In [36]:
# Handle missing values
df.replace(' ?', pd.NA, inplace=True)  # Convert '?' to NaN
df.dropna(inplace=True)  # Drop rows with missing values

In [37]:
print(df)

       Unnamed: 0  age         workclass  fnlwgt  education  education-num  \
0               0   39         State-gov   77516  Bachelors             13
1               1   50  Self-emp-not-inc   83311  Bachelors             13
2               2   38           Private  215646    HS-grad              9
3               3   53           Private  234721       11th              7
4               4   28           Private  338409  Bachelors             13
...           ...  ...               ...     ...        ...            ...
48836       48836   33           Private  245211  Bachelors             13
48837       48837   39           Private  215419  Bachelors             13
48839       48839   38           Private  374983  Bachelors             13
48840       48840   44           Private   83891  Bachelors             13
48841       48841   35      Self-emp-inc  182148  Bachelors             13

           marital-status         occupation   relationship  \
0           Never-married       Adm-clerical  Not-in-family
1      Married-civ-spouse    Exec-managerial        Husband
2                Divorced  Handlers-cleaners  Not-in-family
3      Married-civ-spouse  Handlers-cleaners        Husband
4      Married-civ-spouse     Prof-specialty           Wife
...                   ...                ...            ...
48836       Never-married     Prof-specialty      Own-child
48837            Divorced     Prof-specialty  Not-in-family
48839  Married-civ-spouse     Prof-specialty        Husband
48840            Divorced       Adm-clerical      Own-child
48841  Married-civ-spouse    Exec-managerial        Husband

                     race     sex  capital-gain  capital-loss  hours-per-week  \
0                   White    Male          2174             0              40
1                   White    Male             0             0              13
2                   White    Male             0             0              40
3                   Black    Male             0             0              40
4                   Black  Female             0             0              40
...                   ...     ...           ...           ...             ...
48836               White    Male             0             0              40
48837               White  Female             0             0              36
48839               White    Male             0             0              50
48840  Asian-Pac-Islander    Male          5455             0              40
48841               White    Male             0             0              60

      native-country  income
0      United-States   <=50K
1      United-States   <=50K
2      United-States   <=50K
3      United-States   <=50K
4               Cuba   <=50K
...              ...     ...
48836  United-States  <=50K.
48837  United-States  <=50K.
48839  United-States  <=50K.
48840  United-States  <=50K.
48841  United-States   >50K.

[47621 rows x 16 columns]

In [38]:
df = df.drop_duplicates()#drop duplicate rows

In [39]:
print(df)

       Unnamed: 0  age         workclass  fnlwgt  education  education-num  \
0               0   39         State-gov   77516  Bachelors             13
1               1   50  Self-emp-not-inc   83311  Bachelors             13
2               2   38           Private  215646    HS-grad              9
3               3   53           Private  234721       11th              7
4               4   28           Private  338409  Bachelors             13
...           ...  ...               ...     ...        ...            ...
48836       48836   33           Private  245211  Bachelors             13
48837       48837   39           Private  215419  Bachelors             13
48839       48839   38           Private  374983  Bachelors             13
48840       48840   44           Private   83891  Bachelors             13
48841       48841   35      Self-emp-inc  182148  Bachelors             13

           marital-status         occupation   relationship  \
0           Never-married       Adm-clerical  Not-in-family
1      Married-civ-spouse    Exec-managerial        Husband
2                Divorced  Handlers-cleaners  Not-in-family
3      Married-civ-spouse  Handlers-cleaners        Husband
4      Married-civ-spouse     Prof-specialty           Wife
...                   ...                ...            ...
48836       Never-married     Prof-specialty      Own-child
48837            Divorced     Prof-specialty  Not-in-family
48839  Married-civ-spouse     Prof-specialty        Husband
48840            Divorced       Adm-clerical      Own-child
48841  Married-civ-spouse    Exec-managerial        Husband

                     race     sex  capital-gain  capital-loss  hours-per-week  \
0                   White    Male          2174             0              40
1                   White    Male             0             0              13
2                   White    Male             0             0              40
3                   Black    Male             0             0              40
4                   Black  Female             0             0              40
...                   ...     ...           ...           ...             ...
48836               White    Male             0             0              40
48837               White  Female             0             0              36
48839               White    Male             0             0              50
48840  Asian-Pac-Islander    Male          5455             0              40
48841               White    Male             0             0              60

      native-country  income
0      United-States   <=50K
1      United-States   <=50K
2      United-States   <=50K
3      United-States   <=50K
4               Cuba   <=50K
...              ...     ...
48836  United-States  <=50K.
48837  United-States  <=50K.
48839  United-States  <=50K.
48840  United-States  <=50K.
48841  United-States   >50K.

[47621 rows x 16 columns]

In [40]:
# Remove duplicate columns
df_T = df.T.drop_duplicates().T

In [41]:
# If needed, you can also reset the index after removing rows or columns
df = df.reset_index(drop=True)

In [44]:
df['income'].value_counts()

income
<=50K     24720
<=50K.    11360
>50K       7841
>50K.      3700
Name: count, dtype: int64

In [46]:
# Replace "." with an empty string in the "income" column
df['income'] = df['income'].str.replace('.', '')

# Count the values in the "income" column after removing "."
print(df['income'].value_counts())

income
<=50K    36080
>50K     11541
Name: count, dtype: int64

In [47]:
# Count the number of null values in each column
null_counts = df.isnull().sum()

# Display the number of null values in each column
print(null_counts)

Unnamed: 0        0
age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [48]:
print(df)

       Unnamed: 0  age         workclass  fnlwgt  education  education-num  \
0               0   39         State-gov   77516  Bachelors             13
1               1   50  Self-emp-not-inc   83311  Bachelors             13
2               2   38           Private  215646    HS-grad              9
3               3   53           Private  234721       11th              7
4               4   28           Private  338409  Bachelors             13
...           ...  ...               ...     ...        ...            ...
47616       48836   33           Private  245211  Bachelors             13
47617       48837   39           Private  215419  Bachelors             13
47618       48839   38           Private  374983  Bachelors             13
47619       48840   44           Private   83891  Bachelors             13
47620       48841   35      Self-emp-inc  182148  Bachelors             13

           marital-status         occupation   relationship  \
0           Never-married       Adm-clerical  Not-in-family
1      Married-civ-spouse    Exec-managerial        Husband
2                Divorced  Handlers-cleaners  Not-in-family
3      Married-civ-spouse  Handlers-cleaners        Husband
4      Married-civ-spouse     Prof-specialty           Wife
...                   ...                ...            ...
47616       Never-married     Prof-specialty      Own-child
47617            Divorced     Prof-specialty  Not-in-family
47618  Married-civ-spouse     Prof-specialty        Husband
47619            Divorced       Adm-clerical      Own-child
47620  Married-civ-spouse    Exec-managerial        Husband

                     race     sex  capital-gain  capital-loss  hours-per-week  \
0                   White    Male          2174             0              40
1                   White    Male             0             0              13
2                   White    Male             0             0              40
3                   Black    Male             0             0              40
4                   Black  Female             0             0              40
...                   ...     ...           ...           ...             ...
47616               White    Male             0             0              40
47617               White  Female             0             0              36
47618               White    Male             0             0              50
47619  Asian-Pac-Islander    Male          5455             0              40
47620               White    Male             0             0              60

      native-country income
0      United-States  <=50K
1      United-States  <=50K
2      United-States  <=50K
3      United-States  <=50K
4               Cuba  <=50K
...              ...    ...
47616  United-States  <=50K
47617  United-States  <=50K
47618  United-States  <=50K
47619  United-States  <=50K
47620  United-States   >50K

[47621 rows x 16 columns]

In [49]:
df.to_csv("Data\cleaned_dataset.csv")

ENCODING

In [4]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [5]:
df=pd.read_csv("Data\cleaned_dataset.csv")

In [6]:
# Split to X and y
X = df.drop(columns=['income']) #split income column
y = df['income']

In [7]:
categorical_columns = X.select_dtypes(include=['object']).columns
#Selecting String type data sets for encoding

In [8]:
new_cat=X[categorical_columns]

In [9]:
new_cat.head()

,workclass,education,marital-status,occupation,relationship,race,sex,native-country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba

In [24]:
df_encoded = pd.get_dummies(df,)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4142013071.py, line 1)

In [21]:
print(df_encoded)

       Unnamed: 0  age  fnlwgt  education-num  capital-gain  capital-loss  \
0               0   39   77516             13          2174             0
1               1   50   83311             13             0             0
2               2   38  215646              9             0             0
3               3   53  234721              7             0             0
4               4   28  338409             13             0             0
...           ...  ...     ...            ...           ...           ...
47616       48836   33  245211             13             0             0
47617       48837   39  215419             13             0             0
47618       48839   38  374983             13             0             0
47619       48840   44   83891             13          5455             0
47620       48841   35  182148             13             0             0

       hours-per-week  workclass_?  workclass_Federal-gov  \
0                  40        False                  False
1                  13        False                  False
2                  40        False                  False
3                  40        False                  False
4                  40        False                  False
...               ...          ...                    ...
47616              40        False                  False
47617              36        False                  False
47618              50        False                  False
47619              40        False                  False
47620              60        False                  False

       workclass_Local-gov  ...  native-country_Taiwan  \
0                    False  ...                  False
1                    False  ...                  False
2                    False  ...                  False
3                    False  ...                  False
4                    False  ...                  False
...                    ...  ...                    ...
47616                False  ...                  False
47617                False  ...                  False
47618                False  ...                  False
47619                False  ...                  False
47620                False  ...                  False

       native-country_Thailand  native-country_Trinadad&Tobago  \
0                        False                           False
1                        False                           False
2                        False                           False
3                        False                           False
4                        False                           False
...                        ...                             ...
47616                    False                           False
47617                    False                           False
47618                    False                           False
47619                    False                           False
47620                    False                           False

       native-country_United-States  native-country_Vietnam  \
0                              True                   False
1                              True                   False
2                              True                   False
3                              True                   False
4                             False                   False
...                             ...                     ...
47616                          True                   False
47617                          True                   False
47618                          True                   False
47619                          True                   False
47620                          True                   False

       native-country_Yugoslavia  income_<=50K  income_<=50K.  income_>50K  \
0                          False          True          False        False
1                          False          True          False        False
2                          False          True          False        False
3                          False          True          False        False
4                          False          True          False        False
...                          ...           ...            ...          ...
47616                      False         False           True        False
47617                      False         False           True        False
47618                      False         False           True        False
47619                      False         False           True        False
47620                      False         False          False        False

       income_>50K.
0             False
1             False
2             False
3             False
4             False
...             ...
47616         False
47617         False
47618         False
47619         False
47620          True

[47621 rows x 113 columns]

In [22]:
# Save the encoded DataFrame to a new CSV file
df_encoded.to_csv("Data/preprocessed_dataset.csv", index=False)